@model IEnumerable<BookStoreMVC.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEdit")

    @using (Html.BeginForm())
    {
    <p>
        Category : @Html.DropDownList("bookCat", "-select-") <br /><br>
        Title : @Html.TextBox("searchStr") <br /><br>
        <input type="submit" value="Search" />
    </p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "CreateEdit", new { id = item.BookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookId })
        </td>
    </tr>
}

</table>

@Html.RouteLink("Back to BookStore", "Default",
        new { action = "Index", controller = "BookStore" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


